* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

.body {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

.custom-header {
  margin-top: 10px;
  background-color: transparent;
  padding: 16px 108px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  z-index: 100;
}

/* nav barr */

.nav-link {
  font-size: 20px;
  font-weight: bolder;
  color: white;
  position: relative;
  text-decoration: none;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #1DE88E;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #1DE88E;
}

.nav-link:hover::after {
  width: 100%;
}

/* logo */

.logo {
  font-size: 3rem;
  color: white;
  font-weight: 800;
  text-decoration: none;
}

.logo span {
  color: #1DE88E;
  font-style: italic;
}
/* home section */

.home {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 120px 100px;
}

.home-img img {
  border-radius: 50%;
  height: 375px;
}

.home-content {
  max-width: 600px;
}

.home-content h1 span,
.home-content h3 span {
  color: #1DE88E;
  font-style: italic;
  font-weight: bolder;
}


.social-icons a {
  color: white;
  margin: 0 8px;
  background-color: #2A2A2A;
  padding: 8px 12px;
  border-radius: 70%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

}

.social-icons a:hover {
  background-color: #1DE88E;
  color: #000;
}

.btn-outline-success {
  border-color: #1DE88E;
  color: #1DE88E;
  border-radius: 50px;
}

.btn-outline-success:hover {
  background-color: #1DE88E;
  color: #000;
  font-weight: bold;
  transform: scale(1.1);
}

/* about */

.abt {
  font-size: 60px;
  font-weight: bold;
  color: #1DE88E;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.para {
  font-size: 25px;
}

.width {
  height: 100%;
  width: 100%;
}

.skills-section {
  color: #fff;
  background: #000;
  padding: 40px 0;
}

.skills-section h2 {
  font-weight: 700;
  margin-bottom: 30px;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px 50px;
}

.skill-box {
  width: 100%;
  font-size: 14px;
  position: relative;
}

.skill-box span {
  font-weight: 600;
}

.skill-box .value {
  float: right;
}

.skill-bar {
  width: 100%;
  height: 15px;
  background: #1c1c1c;
  margin-top: 8px;
  overflow: hidden;
}

.skill-level {
  height: 100%;
  background: #17BA62;
}


/* projects */

.tech {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  background-color: #1C1C1C;
  border-radius: 0;
  transition: 0.4s;
  padding: 20px;
}

.tech:hover {
  background-color: #1DE88E;
  color: #000;
}

.tech p {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 15px;
}


.applybtn {
  display: block;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 6px;
  margin-top: auto;
  font-weight: 600;
}

.row {
  display: flex;
}

.tech .p-3 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Interset Section */


.title {
  font-size: 28px;
  margin-top: 4px;
  margin-bottom: 40px;
  border-bottom: 3px solid #00C37A;
  display: inline-block;
  padding-bottom: 4px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.feature-card {
  background-color: #1a1a1a;
  border: 1px solid #2a2a2a;
  padding: 20px 26px;
  display: flex;
  align-items: center;
  gap: 14px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.feature-card:hover {
  background-color: #222;
  transform: translateY(-4px);
  box-shadow: #00C37A;
}


/* contact section */
body {
  background: black;
  font-family: Arial, sans-serif;
}

.contact-section {
  padding: 60px 20px;
  color: white;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

.info-box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-circle {
  width: 55px;
  height: 55px;
  background: #22e27c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: black;
}

.info-box h5 {
  margin: 0;
  font-size: 18px;
}

.info-box p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #bbb;
}



/* Form */
.contact-form input,
.contact-form textarea {
  width: 100%;
  background: transparent;
  border: 1px solid #333;
  padding: 15px;
  margin-bottom: 20px;
  color: white;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #666;
}

.contact-form .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.contact-form button {
  background: #22e27c;
  color: black;
  border: none;
  padding: 12px 35px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background: #1bc96e;
}

.feature-card:hover {
  background-color: #222;
}

/* footor */

.footer {
  background-color: #131212;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  align-items: center;
}

.footer p {
  font-size: 13px;
  margin-bottom: 0%;
}

.footer h1 {
  margin: 0;
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
  color: #1DE88E;
}